<!-- /snippets/product-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-third medium--one-half small--one-half' %}
{% endunless %}

{% unless width %}
  {%- assign width = 310 -%}
{% endunless %}
{% unless height %}
  {%- assign height = 415 -%}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

{%- assign variant = product.selected_or_first_available_variant -%}


{%  if product.type == 'Diagnostic Tool'  %} {% comment %} only Reset tools have Diagnostic Tool for product type - am {% endcomment %}

{% capture img_id_class %}ProductImage-{{ product.featured_image.id }}{% endcapture %}
{% capture img_wrapper_id %}ProductImageWrapper-{{ product.featured_image.id }}{% endcapture %}
{%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
<div class="grid__item grid-product {{ grid_item_width }}">
  <div class="grid-product__wrapper">
    <div class="grid-product__image-wrapper">
      <a class="grid-product__image-link{% unless product.featured_image.src == blank %} grid-product__image-link--loading{% endunless %}" href="{{ product.url | within: collection }}" data-image-link>
        {% if product.featured_image.src == blank %}
          <img class="grid-product__image" src="{{ product.featured_image.src | img_url: '1024x' }}" alt="{{ product.featured_image.alt | escape }}">
        {% else %}
          {% include 'image-style' with image: product.featured_image, small_style: true, width: width, height: height, wrapper_id: img_wrapper_id, img_id_class: img_id_class %}
          <div id="{{ img_wrapper_id }}" class="product--wrapper">
            <div style="padding-top:{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100 }}%;">
              <img class="product--image lazyload {{ img_id_class }}"
                   data-src="{{ img_url }}"
                   data-widths="[180, 370, 590, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ product.featured_image.alt | escape }}"
                   data-image>
            </div>
          </div>
          <noscript>
            <img class="grid-product__image" src="{{ product.featured_image.src | img_url: '1024x' }}" alt="{{ product.featured_image.alt | escape }}">
          </noscript>
        {% endif %}

      </a>
      {% if on_sale %}
        <div class="grid-product__on-sale">
          {% capture saved_amount %}{{ product.compare_at_price | minus: product.price | money_without_trailing_zeros }}{% endcapture %}
          <p>{{ 'products.general.save_html' | t: saved_amount: saved_amount }}</p>
        </div>
      {% endif %}
    </div>

    <a href="{{ product.url | within: collection }}" class="grid-product__meta">
<!-- Stamped - Begin Star Rating Badge -->
        <span
        class="stamped-product-reviews-badge"
        data-id="{{ product.id }}"
        data-product-sku="{{ product.handle }}"
        data-product-type="{{product.type}}"
        data-product-title="{{product.title}}"
        style="display:block;">
        {{product.metafields.stamped.badge}}
        </span>
        <!-- Stamped - End Star Rating Badge -->
      
      <span class="grid-product__title">{{ product.title }}</span>
      <span class="grid-product__price-wrap">
        <span class="long-dash">|</span>
        <span class="grid-product__price">
          {% if on_sale %}
            <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
          {% else %}
             <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
          {% endif %}
          {% if product.price_varies %}
          	{% if product.tags  contains 'dx' %}
              {% if product.tags contains 'professional_dx' %}
                <span class="money" data-product-id="{{ product.id }}" >{{ product.price_min | plus: 60000 | money_without_trailing_zeros }}</span>
              {% else %}
                <span class="money" data-product-id="{{ product.id }}" >{{ product.price_min | plus: 60000 | money_without_trailing_zeros }}</span>
              {% endif %}
          	{% else %}
          		<span class="money" data-product-id="{{ product.id }}">{{ product.price_min | money_without_trailing_zeros }}</span>
              <span class="icon-fallback-text">
                <span class="icon icon-plus grid-product__price-min" aria-hidden="true"></span>
                <span class="fallback-text">+</span>
              </span>
            {% endif %}

          {% else %}
            {% if product.tags  contains 'dx' %}
              {% if product.tags contains 'professional_dx' %}
                <span class="money" data-product-id="{{ product.id }}" >{{ product.price | plus: 60000 | money_without_trailing_zeros }}</span>
              {% else %}
                <span class="money" data-product-id="{{ product.id }}" >{{ product.price | plus: 60000 | money_without_trailing_zeros }}</span>
              {% endif %}
              
<!-- EDIT RT PRICE -->
          
          	{% else %}
              <span class="money" style="display: none; text-decoration: line-through; font-size: 14px;" data-product-id="{{ product.id }}" id="planIdTag">{{ variant.price | plus: 5000 | money }}</span>
          		<span class="money"  data-product-id="{{ product.id }}">{{ product.price | money_without_trailing_zeros }}</span>
          
            <!-- <br><span class="badge badge-success mb-2" style="background: linear-gradient(0.25turn, #5188A8, #749EB4);">You Save:<strong id="planIdSavings"> $50</strong></span> -->
          	{% endif %}

          {% endif %}
        </span>
        
        {%- if product.price_varies == false and variant.unit_price_measurement -%}
          {%- capture unit_price_separator -%}
            <span aria-hidden="true">/</span><span class="visually-hidden">&nbsp;{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
          {%- endcapture -%}

          {%- capture unit_price_base_unit -%}
            <span>
              {%- if variant.unit_price_measurement.reference_value != 1 -%}
                {{- variant.unit_price_measurement.reference_value -}}
              {%- endif -%}
              {{ variant.unit_price_measurement.reference_unit }}
            </span>
          {%- endcapture -%}
          <span class="product-unit-price">
            <span class="visually-hidden">{{ 'products.general.unit_price' | t }}</span>
            <span>{{ variant.unit_price | money }}</span>{{- unit_price_separator -}}{{- unit_price_base_unit -}}
          </span>
        {%- endif -%}
      </span>
      {% if section.settings.product_vendor_enable %}
        <p class="grid-product__vendor">{{ product.vendor }}</p>
      {% endif %}
    </a>


    {% comment %} start ATC button - am {% endcomment %}
    <form action="/cart/add" method="post">
      {% assign current_variant = product.selected_or_first_available_variant %}

      {% if product.title contains 'Reset Tool' or product.title contains 'reset tool'%}

        {% comment %} new ATC button - am {% endcomment %}
        {% if product.variants.size == 1 %}
          <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
        {% else %}
          <select name="id" class="atc-btn">
            {% for variant in product.variants %}
              <option value="{{ variant.id }}">{{ variant.title }}</option>
            {% endfor %}
          </select>
        {% endif %}

        {% if product.available  %}
          <h5 id="addToCartSoldOut" style="text-align: center; margin: 0 auto; display:none;">SOLD OUT</h5>
        {% else %}
          <h5 id="addToCartSoldOut" style="text-align: center; margin: 0 auto;">SOLD OUT</h5>
        {% endif %}

        <div class="qty-atc-container">

          <div class="product-single__quantity">
            <label for="Quantity" class="product-single__quantity-label js-quantity-selector"></label>
            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="js-quantity-selector">
          </div>


          {% if product.available %}
            <div class="product-single__add-to-cart product-single__add-to-cart--full-width">
              <button type="submit" name="add" class="btn btn--add-to-cart">Add to cart</button>
            </div>

            <a id="addToCartJoinWaitlist" style=" display:none;" class="btn btn--add-to-cart{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}" href="https://forms.monday.com/forms/2585b7aaae78086490d275b96f07e540?r=use1"><span>Join Waitlist</span></a>

          {% else %}
            <button style="display:none;" type="submit" name="add" id="AddToCart--{{ section.id }}" class="btn btn--add-to-cart{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}">
              <span class="btn__text">
                  {{ 'products.product.add_to_cart' | t }}
              </span>
            </button>

            <a id="addToCartJoinWaitlist" class="btn btn--add-to-cart{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}" href="https://forms.monday.com/forms/2585b7aaae78086490d275b96f07e540?r=use1"><span>Join Waitlist</span></a>

          {% endif %}

      {% endif %}
      </div>
    </form>
    


{% comment %} end ATC button - am {% endcomment %}


  </div>
</div>
{% elsif product.type == 'Dx Bundle' %}
{% capture img_id_class %}ProductImage-{{ product.images[1].id }}{% endcapture %}
{% capture img_wrapper_id %}ProductImageWrapper-{{ product.images[1].id }}{% endcapture %}
{%- assign img_url = product.images[1] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
<div class="grid__item grid-product {{ grid_item_width }}{% if sold_out %} is-sold-out{% endif %}">
  <div class="grid-product__wrapper">
    <div class="grid-product__image-wrapper">
      <a class="grid-product__image-link{% unless product.images[1].src == blank %} grid-product__image-link--loading{% endunless %}" href="{{ product.url | within: collection }}" data-image-link>
        {% if product.images[2].src == blank %}
          <img class="grid-product__image" src="{{ product.images[1].src | img_url: '1024x' }}" alt="{{ product.images[1].alt | escape }}">
        {% else %}
          {% include 'image-style' with image: product.images[1], small_style: true, width: width, height: height, wrapper_id: img_wrapper_id, img_id_class: img_id_class %}
          <div id="{{ img_wrapper_id }}" class="product--wrapper">
            <div style="padding-top:{{ 1 | divided_by: product.images[1].aspect_ratio | times: 100 }}%;">
              <img class="product--image lazyload {{ img_id_class }}"
                   data-src="{{ img_url }}"
                   data-widths="[180, 370, 590, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ product.images[1].aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ product.images[1].alt | escape }}"
                   data-image>
            </div>
          </div>
          <noscript>
            <img class="grid-product__image" src="{{ product.images[1].src | img_url: '1024x' }}" alt="{{ product.images[1].alt | escape }}">
          </noscript>
        {% endif %}

      </a>
      {% if sold_out %}
        <div class="grid-product__sold-out">
          <p>{{ 'products.product.sold_out_html' | t }}</p>
        </div>
      {% elsif on_sale %}
        <div class="grid-product__on-sale">
          {% capture saved_amount %}{{ product.compare_at_price | minus: product.price | money_without_trailing_zeros }}{% endcapture %}
          <p>{{ 'products.general.save_html' | t: saved_amount: saved_amount }}</p>
        </div>
      {% endif %}
    </div>

    <a href="{{ product.url | within: collection }}" class="grid-product__meta">

       <!-- Stamped - Begin Star Rating Badge -->
        <span
        class="stamped-product-reviews-badge"
        data-id="{{ product.id }}"
        data-product-sku="{{ product.handle }}"
        data-product-type="{{product.type}}"
        data-product-title="{{product.title}}"
        style="display:block;">
        {{product.metafields.stamped.badge}}
        </span>
        <!-- Stamped - End Star Rating Badge -->
      
      <span class="grid-product__title">{{ product.title }}</span>
      <span class="grid-product__price-wrap">
        <span class="long-dash">|</span>
        <span class="grid-product__price">
          {% if on_sale %}
            <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
          {% else %}
             <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
          {% endif %}
          {% if product.price_varies %}
          	{% if product.tags  contains 'dx' %}
              {% if product.tags contains 'professional_dx' %}
                <span class="money" data-product-id="{{ product.id }}" >{{ product.price_min | plus: 60000 | money_without_trailing_zeros }}</span>
              {% else %}
                <span class="money" data-product-id="{{ product.id }}" >{{ product.price_min | plus: 60000 | money_without_trailing_zeros }}</span>
              {% endif %}
          	{% else %}
          		<span class="money" data-product-id="{{ product.id }}">{{ product.price_min | money_without_trailing_zeros }}</span>
              <span class="icon-fallback-text">
                <span class="icon icon-plus grid-product__price-min" aria-hidden="true"></span>
                <span class="fallback-text">+</span>
              </span>
            {% endif %}

<!-- EDIT DX PRICING -->

          {% else %}
            {% if product.tags  contains 'dx' %}
               <span class="money" style="text-decoration: line-through; font-size: 14px;" data-product-id="{{ product.id }}" id="planIdTag">{{ variant.price | plus: 60000 | money }}</span>
                <span class="money" style="font-weight: 800;" data-product-id="{{ product.id }}" >{{ product.price | plus: 40000 | money_without_trailing_zeros }}</span>
              
          <br><span class="badge badge-success mb-2" style="background: linear-gradient(0.25turn, #FF7300, #FF7300);">You Save:<strong id="planIdSavings"> $200</strong></span>
            {% else %}
          		<span class="money" data-product-id="{{ product.id }}">{{ product.price | money_without_trailing_zeros }}</span>
          	{% endif %}

          {% endif %}
        </span>

       
        {%- if product.price_varies == false and variant.unit_price_measurement -%}
          {%- capture unit_price_separator -%}
            <span aria-hidden="true">/</span><span class="visually-hidden">&nbsp;{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
          {%- endcapture -%}

          {%- capture unit_price_base_unit -%}
            <span>
              {%- if variant.unit_price_measurement.reference_value != 1 -%}
                {{- variant.unit_price_measurement.reference_value -}}
              {%- endif -%}
              {{ variant.unit_price_measurement.reference_unit }}
            </span>
          {%- endcapture -%}
          <span class="product-unit-price">
            <span class="visually-hidden">{{ 'products.general.unit_price' | t }}</span>
            <span>{{ variant.unit_price | money }}</span>{{- unit_price_separator -}}{{- unit_price_base_unit -}}
          </span>
        {%- endif -%}
      </span>
      {% if section.settings.product_vendor_enable %}
        <p class="grid-product__vendor">{{ product.vendor }}</p>
      {% endif %}
    </a>
  </div>
</div>
{% else %}
{% capture img_id_class %}ProductImage-{{ product.featured_image.id }}{% endcapture %}
{% capture img_wrapper_id %}ProductImageWrapper-{{ product.featured_image.id }}{% endcapture %}
{%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
<div class="grid__item grid-product {{ grid_item_width }}{% if sold_out %} is-sold-out{% endif %}">
  <div class="grid-product__wrapper">
    <div class="grid-product__image-wrapper">
      <a class="grid-product__image-link{% unless product.featured_image.src == blank %} grid-product__image-link--loading{% endunless %}" href="{{ product.url | within: collection }}" data-image-link>
        {% if product.featured_image.src == blank %}
          <img class="grid-product__image" src="{{ product.featured_image.src | img_url: '1024x' }}" alt="{{ product.featured_image.alt | escape }}">
        {% else %}
          {% include 'image-style' with image: product.featured_image, small_style: true, width: width, height: height, wrapper_id: img_wrapper_id, img_id_class: img_id_class %}
          <div id="{{ img_wrapper_id }}" class="product--wrapper">
            <div style="padding-top:{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100 }}%;">
              <img class="product--image lazyload {{ img_id_class }}"
                   data-src="{{ img_url }}"
                   data-widths="[180, 370, 590, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ product.featured_image.alt | escape }}"
                   data-image>
            </div>
          </div>
          <noscript>
            <img class="grid-product__image" src="{{ product.featured_image.src | img_url: '1024x' }}" alt="{{ product.featured_image.alt | escape }}">
          </noscript>
        {% endif %}

      </a>
      {% if sold_out %}
        <div class="grid-product__sold-out">
          <p>{{ 'products.product.sold_out_html' | t }}</p>
        </div>
      {% elsif on_sale %}
        <div class="grid-product__on-sale">
          {% capture saved_amount %}{{ product.compare_at_price | minus: product.price | money_without_trailing_zeros }}{% endcapture %}
          <p>{{ 'products.general.save_html' | t: saved_amount: saved_amount }}</p>
        </div>
      {% endif %}
    </div>

    <a href="{{ product.url | within: collection }}" class="grid-product__meta">
      <span class="grid-product__title">{{ product.title }}</span>
      <span class="grid-product__price-wrap">
        <span class="long-dash">|</span>
        <span class="grid-product__price">
          {% if on_sale %}
            <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
          {% else %}
             <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
          {% endif %}
          {% if product.price_varies %}
          	{% if product.tags  contains 'dx' %}
              {% if product.tags contains 'professional_dx' %}
                <span class="money" data-product-id="{{ product.id }}" >{{ product.price_min | plus: 60000 | money_without_trailing_zeros }}</span>
              {% else %}
                <span class="money" data-product-id="{{ product.id }}" >{{ product.price_min | plus: 60000 | money_without_trailing_zeros }}</span>
              {% endif %}
          	{% else %}
          		<span class="money" data-product-id="{{ product.id }}">{{ product.price_min | money_without_trailing_zeros }}</span>
              <span class="icon-fallback-text">
                <span class="icon icon-plus grid-product__price-min" aria-hidden="true"></span>
                <span class="fallback-text">+</span>
              </span>
            {% endif %}


          {% else %}
            {% if product.tags  contains 'dx' %}
              {% if product.tags contains 'professional_dx' %}
                <span class="money" data-product-id="{{ product.id }}" >{{ product.price | plus: 60000 | money_without_trailing_zeros }}</span>
              {% else %}
                <span class="money" data-product-id="{{ product.id }}" >{{ product.price | plus: 60000 | money_without_trailing_zeros }}</span>
              {% endif %}
          	{% else %}
          		<span class="money" data-product-id="{{ product.id }}">{{ product.price | money_without_trailing_zeros }}</span>
          	{% endif %}

          {% endif %}
        </span>
        <!-- Stamped - Begin Star Rating Badge -->
        <span
        class="stamped-product-reviews-badge"
        data-id="{{ product.id }}"
        data-product-sku="{{ product.handle }}"
        data-product-type="{{product.type}}"
        data-product-title="{{product.title}}"
        style="display:block;">
        {{product.metafields.stamped.badge}}
        </span>
        <!-- Stamped - End Star Rating Badge -->
        {%- if product.price_varies == false and variant.unit_price_measurement -%}
          {%- capture unit_price_separator -%}
            <span aria-hidden="true">/</span><span class="visually-hidden">&nbsp;{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
          {%- endcapture -%}

          {%- capture unit_price_base_unit -%}
            <span>
              {%- if variant.unit_price_measurement.reference_value != 1 -%}
                {{- variant.unit_price_measurement.reference_value -}}
              {%- endif -%}
              {{ variant.unit_price_measurement.reference_unit }}
            </span>
          {%- endcapture -%}
          <span class="product-unit-price">
            <span class="visually-hidden">{{ 'products.general.unit_price' | t }}</span>
            <span>{{ variant.unit_price | money }}</span>{{- unit_price_separator -}}{{- unit_price_base_unit -}}
          </span>
        {%- endif -%}
      </span>
      {% if section.settings.product_vendor_enable %}
        <p class="grid-product__vendor">{{ product.vendor }}</p>
      {% endif %}
    </a>
  </div>
</div>
{% endif %}
