<!DOCTYPE html>
<html class="no-js" lang="{{ shop.locale }}">

<head>
<link rel='preconnect dns-prefetch' href='https://api.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://conf.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://triplewhale-pixel.web.app/' crossorigin />
<script>
/* >> TriplePixel :: start*/
window.TriplePixelData={TripleName:"otrperformance2.myshopify.com",ver:"1.9"},function(W,H,A,L,E,_,B,N){function O(U,T,P,H,R){void 0===R&&(R=!1),H=new XMLHttpRequest,P?(H.open("POST",U,!0),H.setRequestHeader("Content-Type","application/json")):H.open("GET",U,!0),H.send(JSON.stringify(P||{})),H.onreadystatechange=function(){4===H.readyState&&200===H.status?(R=H.responseText,U.includes(".txt")?eval(R):P||(N[B]=R)):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(U,T-1))}}if(N=window,!N[H+"sn"]){N[H+"sn"]=1;try{A.setItem(H,1+(0|A.getItem(H)||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push(location.href),A.setItem(H+"U",JSON.stringify(E))}catch(e){}var i,m,p;A.getItem('"!nC`')||(_=A,A=N,A[H]||(L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)},E=A[H]=function(t,e){return"State"==t?E.s:(W=L(),(E._q=E._q||[]).push([W,t,e]),W)},E.s="Installed",E._q=[],E.ch=W,B="configSecurityConfModel",N[B]=1,O("https://conf.config-security.com/model",5),i=L(),m=A[atob("c2NyZWVu")],_.setItem("di_pmt_wt",i),p={id:i,action:"profile",avatar:_.getItem("auth-security_rand_salt_"),time:m[atob("d2lkdGg=")]+":"+m[atob("aGVpZ2h0")],host:A.TriplePixelData.TripleName,url:window.location.href,ref:document.referrer,ver:window.TriplePixelData.ver},O("https://api.config-security.com/",5,p),O("https://triplewhale-pixel.web.app/dot1.9.txt",5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>

<script src="https://www.googleoptimize.com/optimize.js?id=GTM-PBXGL6W"></script>
  
<!-- Begin: Northbeam pixel -->
<script async type="text/javascript" src="//j.northbeam.io/ota-sp/0f84ee36-e4f5-4cf9-abed-8e2fcabef903.js"></script>
<!-- End: Northbeam pixel -->
  

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="google-site-verification" content="nv7XoXPmp-iZo1mncaElGUlLSqIeTClsdgkpjSb0GsY" />
  <meta name="google-site-verification" content="CXNMUsPBltRuYmTKjnR-eWMYSLBTWJUSMCWgBD_ZqpU" />

  <!--<meta name="apple-itunes-app" content="app-id=1508165885"> -->
  <!--<meta name="facebook-domain-verification" content="xxjqlej96aznaau1cqnhibryc783ae" /> -->

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'styles-otr.css' | asset_url | stylesheet_tag }}

  <!-- Sections ================================================== -->
  <script>
    window.theme = window.theme || {};
    theme.strings = {
      zoomClose: {{ "products.zoom.close" | t | json }},
      zoomPrev: {{ "products.zoom.prev" | t | json }},
      zoomNext: {{ "products.zoom.next" | t | json }},
      moneyFormat: {{ shop.money_format | json }},
      addressError: {{ 'home_page.map.address_error' | t | json }},
      addressNoResults: {{ 'home_page.map.address_no_results' | t | json }},
      addressQueryLimit: {{ 'home_page.map.address_query_limit_html' | t | json }},
      authError: {{ 'home_page.map.auth_error_html' | t | json }},
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      cartCookie: {{ 'cart.general.cookies_required' | t | json }},
      cartSavings: {{ 'cart.general.savings_html' | t: savings: '[savings]' | json }}
    };
    theme.settings = {
      cartType: {{ settings.cart_type | json }},
      gridType: {{ settings.collection_products_grid | json }}
    };
  </script>


	<!--   JavaScript -->
  <script src="{{ 'lazysizes.min.js' | asset_url }}" defer="defer" async="async"></script>
  <style>.lazyload,.lazyloading{opacity:0}.lazyloaded{opacity:1;transition:opacity.3s}</style>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  <!-- HC - Bootstrap v4.0 JS - 07 Oct '20 -->

	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script>
    $(function () {
      $('[data-toggle="popover"]').popover({})
    })
  </script>

  <!-- Header hook for plugins ================================================== -->
  <script>window.superLayer = window.superLayer || [];window.ss_template = {{ template | json }};function _l(){window.superLayer.push(arguments);}</script>
  {% assign st = shop.metafields.superspeed.starter | strip_newlines | base64_decode | split: "|" %}
  {% if request.design_mode %}{{ content_for_header }}{% else %}{% capture cfh %}{{ content_for_header }}{% endcapture %}{% endif %}
  {{ cfh | replace: st[0], st[1] | replace: st[2], st[6] | replace:  st[3], st[7] | replace: st[4], st[5] }}

  {{ 'modernizr.min.js' | asset_url | script_tag }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if request.page_type contains 'customers/' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  <!-- Global site tag (gtag.js) - Google Ads: 1004038329 -->
  <script async data-deffered data-src="https://www.googletagmanager.com/gtag/js?id=AW-1004038329"  defer="defer"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-1004038329');
  </script>

  <script>
    gtag('event', 'page_view', {
      'send_to': 'AW-1004038329',
      'ecomm_pagetype': 'replace with value',
      'ecomm_prodid': 'replace with value',
      'ecomm_totalvalue': 'replace with value',
      'user_id': 'replace with value'
    });
  </script>

  <!-- REAMAZE INTEGRATION START - DO NOT REMOVE -->
{% render 'reamaze-config' %}
{% render 'reamaze-sso' %}
<!-- REAMAZE INTEGRATION END - DO NOT REMOVE -->

  <!-- facebook ads meta-tag -->
  <meta name="facebook-domain-verification" content="xxjqlej96aznaau1cqnhibryc783ae" />

  <!-- Hotjar Tracking Code for https://otrperformance.com -->
  <script>
    setTimeout(() => {
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:425000,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    },6000);  
  </script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TQ3J3GD');</script>
<!-- End Google Tag Manager -->

  {% capture lidl %}
  {% endcapture %}{{ lidl | replace: 'src="', 'data-deffered data-src="'}}

  {% render 'shogun-head' %}

<!-- FAQ Redirect  JC 12/16/22 -->
<script>
if (window.location.href == "https://otrperformance.com/blogs/faq") {
   window.location.href = 'https://otrperformance.com/pages/faq'; 
}
</script>
  
{% render 'minmaxify-head' %}
</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ request.page_type | handle }}">

	<!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQ3J3GD"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {% section 'header' %}

  <div id="CartDrawer" class="drawer drawer--right drawer--has-fixed-footer">
    <div class="drawer__fixed-header">
      <div class="drawer__header">
        <div class="drawer__title">{{ 'cart.general.title' | t }}</div>
        <div class="drawer__close">
          <button type="button" class="icon-fallback-text drawer__close-button js-drawer-close">
            <span class="icon icon-x" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'cart.general.close_cart' | t }}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="drawer__inner">
      <div id="CartContainer" class="drawer__cart"></div>
    </div>
  </div>

  {% capture container %}
    <div id="PageContainer" class="page-container">
      <main class="main-content" role="main">
        {% unless request.page_type == "index" %}
          <div class="wrapper">
        {% endunless %}
    
      {% if template != 'product' %}
        {% section 'news-banner' %}
      {% endif %}

          {{ content_for_layout }}
        {% unless request.page_type == "index" %}
          </div>
        {% endunless %}
      </main>

      {% section 'footer' %}
    </div>
	{% endcapture %}
  {{ container | replace: '<img ', '<img loading="lazy" ' }}  

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
      $(function() {
        timber.initCache();
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.cart_type == 'drawer' %}
    {% include 'ajax-cart-template' %}
  {% endif %}

  {% if request.page_type == 'product' or request.page_type == 'index' %}
      <script>
        // Override default values of shop.strings for each template.
        // Alternate product templates can change values of
        // add to cart button, sold out, and unavailable states here.
        theme.productStrings = {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          alreadyInCart: {{ 'products.product.already_in_cart' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }}
        }
      </script>
    {% endif %}

  <div id="SearchModal" class="mfp-hide">
    {% include 'search-bar', search_btn_style: 'btn', search_bar_location: 'search-bar--modal' %}
  </div>
  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
    <li id="a11y-slideshow-info">{{ 'home_page.slideshow.navigation_instructions' | t }}</li>
  </ul>

  <!--  Clickcease.com tracking-->
  <script type="text/javascript">
    setTimeout(() => {
      var script = document.createElement("script");
      script.async = true; script.type = "text/javascript";
      var target = 'https://www.clickcease.com/monitor/stat.js';
      script.src = target;
      var elem = document.head;
      elem.appendChild(script);
    }, 3000);
  </script>

  <noscript><a href="https://www.clickcease.com" rel="nofollow"><img src="https://monitor.clickcease.com/stats/stats.aspx"  alt="ClickCease"/></a></noscript>
  <!--  Clickcease.com tracking-->

  <!-- Begin ReCharge code -->
  {% include 'subscription-theme-footer' %}
  <!-- End ReCharge code -->

  <!--   Microsoft Bing Ad Tag -->

  <script>
    setTimeout(() => {
      (function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"25129321"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");
    }, 3500);
  </script>

  <script>
    window.uetq = window.uetq || [];
    window.uetq.push('event', '', { 'revenue_value': '649', 'currency': 'USD' });
  </script>

  <!-- Twitter universal website tag code -->
  <script>
    setTimeout(() => {
      !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
      },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
      a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
      // Insert Twitter Pixel ID and Standard Event data below
      twq('init','o4mph');
      twq('track','PageView');
    }, 3500);
  </script>
  <!-- End Twitter universal website tag code -->


  <!-- Stamped - Begin script -->
  <script async type="text/javascript" id="stamped-script-widget" data-api-key="pubkey-729MDjx3pX3vnPRvqjYk71RS1Jbc6c" data-deffered data-src="https://cdn1.stamped.io/files/widget.min.js"></script>
  <!-- Stamped - End script -->


  <!--   FontAwesomeIcons -->
  <script src="https://kit.fontawesome.com/7faa0967aa.js" crossorigin="anonymous"></script>


   {% render 'ajaxify-cart' %}

  {% comment %} Klaviyo snippet for Added to Cart event - am {% endcomment %}
  {% if product  %}
    <script>window.addEventListener('load', function() {var _learnq = window._learnq || [];function addedToCart() {  fetch(`${window.location.origin}/cart.js`)  .then(res => res.clone().json().then(data => {    var cart = {      total_price: data.total_price/100,      $value: data.total_price/100,      total_discount: data.total_discount,      original_total_price: data.original_total_price/100,      items: data.items    }    if (item !== 'undefined') {      cart = Object.assign(cart, item)    }    if (klAjax) {        _learnq.push(['track', 'Added to Cart', cart]);        klAjax = false;      }  }))};(function (ns, fetch) {  ns.fetch = function() {    const response = fetch.apply(this, arguments);    response.then(res => {      if (`${window.location.origin}/cart/add.js`      	.includes(res.url)) {        	addedToCart()      }    });    return response  }}(window, window.fetch));var klAjax = true;var atcButtons = document.querySelectorAll("form[action*='/cart/add'] button[type='submit']");for (var i = 0; i < atcButtons.length; i++) {    atcButtons[i].addEventListener("click", function() {      if (klAjax) {        _learnq.push(['track', 'Added to Cart', item]);        klAjax = false;      }    })}});</script>
    {% comment %} 2nd Klaviyo snippet for Added to Cart event{% endcomment %}
    <script type="text/javascript">var _learnq = _learnq || [];	document.getElementById("AddToCart--product-template").addEventListener('click',function (){ 		_learnq.push(['track', 'Added to Cart', item]);	});</script>
    {% endif %}
</body>
</html>
