{% schema %}
{
  "name": "News Banner",
  "settings": [
    {
      "type": "checkbox",
      "label": "Enable Section",
      "id": "enable_section",
      "default": false
    },
    {
      "type": "color",
      "id": "banner_gradient_start",
      "label": "Banner Gradient Start Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "banner_gradient_end",
      "label": "Banner Gradient End Color",
      "default": "#ffffff"
    },
     {
      "type": "color",
      "id": "banner_text_color",
      "label": "Banner Text Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "banner_description",
      "label": "Banner Description",
      "default": "Enter your description here."
    },  
    {
      "type": "url",
      "id": "banner_link_url",
      "label": "Banner Link URL"
    },
    {
      "type": "text",
      "id": "banner_link_text",
      "label": "Banner Link Text",
      "default": "Click here"
    }
  ]
}
{% endschema %}

{% if section.settings.enable_section %}
<div style="max-width: 1100px; margin-left: auto; margin-right: auto;">
<section class="banner mb-3 pt-2 pb-2" style="background: linear-gradient(to right, {{ section.settings.banner_gradient_start }}, {{ section.settings.banner_gradient_end }}); border-radius: 15px;">
  <div class="banner-description" style="color: {{ section.settings.banner_text_color }};">
    <p class="text-center  ml-2 mr-2" style="margin-bottom: 0px; font-size: 14px; font-weight: 600;"> {{ section.settings.banner_description }}  <a class="text-center badge badge-light" style="color: #339933;" href="{{ section.settings.banner_link_url }}" >{{ section.settings.banner_link_text }}</a></p>
  </div>
</section>
</div>
{% endif %}
