<!-- /templates/blog.liquid -->
{% paginate blog.articles by 6 %}
<!--<a href="/products/otr-diagnostics-professional-package"><img style="padding-bottom: 20px" src="https://cdn.shopify.com/s/files/1/2628/2624/files/Group_25_2.svg?v=1640735136" class="desktop"></a>
<a href="/products/otr-diagnostics-professional-package"><img style="padding-bottom: 20px" src="https://cdn.shopify.com/s/files/1/2628/2624/files/Group_25_3.svg?v=1640735136" class="mobile"></a>-->

<div class="wrapper text-center" style="border-radius: 1rem; padding: 100px 20px; background-image: linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.9)), url('https://cdn.shopify.com/s/files/1/2628/2624/files/WhiteTruckForest.jpg?v=1614400638');  background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <h1 style="color: white;">Careers</h1>
  <h5 class="mb-2" style="color: white;">“Not finance. Not strategy. Not technology. It is teamwork that remains the ultimate competitive advantage, both because it is so powerful and so rare.”</h5>
  <p style="color: white; font-size: 12px;" class="mb-4">Patrick Lencioni <i>The Five Dysfunctions of a Team: A Leadership Fable</i></p>
  <a class="btn-otr mt-5" href="#jobPostings">Jump to Job Roles</a>
</div>

<div class="container section" style="padding: 30px; border-radius: 1rem; background: rgba(51, 153, 51, .15); width: auto;">
  <h2 class="text-center mb-5">Core Values</h2>
    <div class='row'>
      <div class="col-12 col-sm-6">
        <h6>Great Conversations Lead to Great outcomes</h6>
            <p>At OTR Performance, we believe that all good customer relationships begin with a good conversation—this is how we get to know you, what your needs are, and how we can achieve your goals.  </p>
      </div>
      <div class="col-12 col-sm-6">
        <h6>Be Kind and Compassionate</h6>
          <p>OTR Performance is passionate about our industries and our company culture. We believe in what we are doing and where we are going, and our enthusiasm shows in our attitudes and our work. "Be kind and compassionate to one another, forgiving each other, just as in Christ God forgave you."  Ephesians 4:32  </p>
      </div>
      <div class="col-12 col-sm-6">
        <h6>Be Resourceful and Open Minded</h6>
        <p>We seek out innovation and new ideas. We are open minded and never rule out ideas or suggestions, because having an open mind gives us the best, most creative results. </p>
      </div>
      <div class="col-12 col-sm-6">
        <h6>Build a Positive Team and Family Spirit</h6>
        <p>Our best decisions and ideas are made when we are surrounded by people who respect and care for each other. We have a positive and optimistic attitude, because this inspires everyone around us. This family spirit is shared with our customers and we strive to build relationships with everyone we come in contact with. </p>
      </div>
      <div class="col-12 col-sm-6">
        <h6>Live with Integrity</h6>
        <p>We work in an honest and ethical manner with each other, our customers, and our families. "I thank Christ Jesus our Lord, who has given me strength, that he considered me faithful, appointing me to his service." 1 Timothy 1:12 </p>
      </div>
      <div class="col-12 col-sm-6">
        <h6>Pursue Growth and Knowledge</h6>
        <p>We never stop learning and growing. We don't want anyone to feel stuck in a rut and are constantly looking for ways to challenge ourselves to learn, grow and push the boundaries. "Whatever you do, work at it with all your heart, as working for the Lord, not for human masters." Colossians 3:23 </p>
      </div>
    </div>

</div>

<div class="container-fluid text-center section" style="padding: 30px 0;">
  <h2 class="mb-2">Why OTR Performance?</h2>
  <div class="row">
    <div class="col-12 col-sm-4">
      <div class="card fixedHeight mb-2">
        <div class="card-body">
          <i class="fas fa-money-bill-wave-alt fa-2x"></i>
          <h5 class="card-title">PTO</h5>
          <p class="card-text">Over 2 Weeks Paid Time Off for New Hires</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="card fixedHeight mb-2">
        <div class='card-body'>
          <i class="fas fa-baby fa-2x"></i>
          <h5 class="card-title">Parental Leave</h5>
          <p class="card-text">We offer paid Paternity/Maternity Leave</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="card fixedHeight mb-2">
        <div class='card-body'>
          <i class="fas fa-coins fa-2x"></i>
          <h5 class="card-title">401K</h5>
          <p class="card-text">OTR Performance matches a percentage of contributions</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-4 ">
      <div class="card   fixedHeight  mb-2">
        <div class='card-body'>
          <i class="fas fa-heartbeat fa-2x"></i>
          <h5 class="card-title">Benefits</h5>
          <p class="card-text">Health, Dental, Vision, and Life, we've got you covered for 100% of your benefits. (Note, we don't provide Volcano insurance)</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="card  fixedHeight  mb-2">
        <div class='card-body'>
          <i class="fas fa-cookie-bite fa-2x"></i>
          <h5 class="card-title">Snacks & Drinks, on Us</h5>
          <p class="card-text">A full and fueled mind is the key to success as we believe, that's why we always have a variety of drinks and snacks available.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="card  fixedHeight mb-2">
        <div class='card-body'>
          <i class="fas fa-heart fa-2x"></i>
          <h5 class="card-title">Paid Covid Sick Time</h5>
          <p class="card-text">No one is a fan of being sick, especially not with Covid. We understand and want you to get better. We pay you to rest up.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="jobPostings">
</div>

<div class="container card pt-5" style="background-color: #53c65310; margin-top: 200px; margin-bottom: 200px; border-style: none;" >

  <div class="row">

<div class="col-sm-12 mb-4">
    <!-- <header class="section-header text-center mb-0">
      <h4>
        <img src="https://cdn.shopify.com/s/files/1/2628/2624/files/Welcomev1.png?v=1645669416">
      </h4>

    </header> -->

    {% unless search_btn_style %}
  {% assign search_btn_style = 'btn--secondary' %}
{% endunless %}



<h4 style='text-align: center;' >Active Job Postings</h4>

    </div>
  </div>
  <div class="row">

    {% for article in blog.articles %}

      {% assign article_content = article.excerpt_or_content %}

      <article class="article col-md-4 col-sm-12 mb-4">

        {% unless article.image == blank %}
          <div class="grid__item" style="padding-left: 0px;">
            <a class="article__featured-image-link" href="{{ article.url }}">
              <noscript>
                {{ article.image | img_url: '2048x2048' | img_tag: article.title | escape }}
              </noscript>
              <div class="article__featured-image-wrapper" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
                {% assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                <img class="article__featured-image lazyload"
                  src="{{ article.image | img_url: '300x300' }}"
                  data-src="{{ img_url }}"
                  data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                  data-aspectratio="{{ article.image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ article.title | escape }}">
              </div>
            </a>
          </div>
        {% endunless %}

<!--         <div class="grid__item large--two-tenths push--large--one-tenth">
          <time datetime="{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}" class="date">{{ article.published_at | date: format: 'date' }}</time>
          <hr class="hr--small hr--left small--hide">
        </div> -->
        <div class="grid__item col-sm-12" style="padding-left: 0;">
          <h5><a class="article__heading-link" href="{{ article.url }}">{{ article.title }}</a></h5>


          <p>
            <a href="{{ article.url }}" class="text-link">Click to view Job Posting <span class="icon icon-arrow-right" aria-hidden="true"></span></a>
          </p>

          {% if article.tags.size > 0 %}
            <ul class="tags tags--article inline-list">
              {% include 'tags-article' %}
            </ul>
          {% endif %}
        </div>
      </article>


<!--       {% unless forloop.last %}<hr class="hr--clear">{% endunless %} -->


    {% endfor %}
</div>

<div class="row">
  <div class="mx-auto">

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}

  </div>
    </div>
  </div>



{% endpaginate %}
