
<!-- /templates/page.liquid -->
{% layout none %}
<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>
  <style>
 
    
    .containerTS{
     background: url('https://cdn.shopify.com/s/files/1/2628/2624/files/Ellipse_22.png?v=1634218811') no-repeat center 100%, 
       url('https://cdn.shopify.com/s/files/1/2628/2624/files/Ellipse_22.png?v=1634218811') no-repeat top right 100%; 
      
    }
   
   .rowTS{
     text-align: center; 
     padding: 0 20px; 
     border-radius: 20px;
   }
   .iconStylingPosition{
	 text-align: center;
     margin-bottom: -40px;
   }
    
   .titleTS{
     font-style: normal; 
     font-weight: 800; 
     font-size: 54px; 
     line-height: 64px;
     padding-bottom: 32px;
   }
   .subtitleTS{
     font-style: normal; 
     font-weight: bold; 
     font-size: 32px; 
     line-height: 38px; 
     text-align: center; 
     max-width: 72%; 
     margin: auto;
     padding-bottom: 38px;
     padding-top: 47px;
   }
   .cardTS{
     background-color:#306438; 
     border-radius: 20px; 
     border: 3px solid #306438; 
     margin: auto;
     padding-top: 50px; 
     height:100%; 
     max-width:245px;
     margin-top: 0px;
   }
    
   .cardTitleTS{
     color: white; 
     font-weight: bold; 
     font-size: 15px; 
     line-height: 18px;
   }
   
   .cardSubtitleTS{
     font-weight: 600; 
     font-size: 11px; 
     line-height: 20px; 
     color: white; 
     padding: 0 16px;
     opacity: .7;
   }
   .iconStylingTS{
     max-width: 100px;
   }
    
   .colTS{
     height: 275px;
     padding-bottom: 50px;
   }
    
   .ytifTS{
     border-radius: 10px; 
     margin: 0 66px; 
     width: 88%;
     height: 20%;
    }
    
    .guaranteeClasses{
      background-color:#ffffff; 
      box-shadow: 5px 13px 55px rgba(0, 0, 0, 0.05); 
      border-radius: 20px;  
      margin: 65px auto;
      padding: 50px; 
      margin-top:0px;
      padding-top: 100px;
      max-width: 72.5%;
      border: 1px solid #339933;
    }
    
    .headerTS{
      background: linear-gradient(to right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.55)), 
       		url('https://cdn.shopify.com/s/files/1/2628/2624/files/Rectangle_379.png?v=1634132701'); 
      background-size: cover;
    }
    
    #fccolTS{
      padding-top: 82px;
      padding-right: 0px;
    }
    
   @media (max-width: 1600px){
     .iconStylingPosition{
       text-align: center;
       margin-bottom: -40px;
     }
     .titleTS{
       font-style: normal; 
       font-weight: 800; 
       font-size: 23px; 
       line-height: 27px;
     }
     .subtitleTS{
       font-style: normal; 
       font-weight: bold; 
       font-size: 18px; 
       line-height: 21px; 
       text-align: center; 
       max-width: 72%; 
       margin: auto;
       padding-bottom: 38px;
     }
     .ytifTS{
       border-radius: 10px; 
       margin: 0 18px; 
       border-radius: 20px;
       width: 88%;
       height: 278px;
     }
     .colTS{
       height: 275px;
       padding-bottom: 50px;
     }
     .cardTS{
       background-color:#306438; 
       border-radius: 20px; 
       border: 3px solid #306438; 
       margin: auto;
       padding-top: 50px; 
       height:100%; 
       max-width:80%;
       margin-top: 0px;
     }
     
     .guaranteeClasses{
       background-color:#ffffff; 
       box-shadow: 5px 13px 55px rgba(0, 0, 0, 0.05); 
       border-radius: 20px;  
       margin: 65px auto;
       padding: 20px; 
       margin-top:0px;
       padding-top: 100px;
       max-width: 100%;
       border: 1px solid #339933;
    }
     .headerTS{
       background: linear-gradient(to right, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.01)), 
       		url('https://cdn.shopify.com/s/files/1/2628/2624/files/Rectangle_382.png?v=1648147771'); 
       background-size: cover;      
   	 }
     #fccolTS{
       padding-top: 30px;
       padding-right: 0px;
   	 }
   }
    
   @media(max-width: 767px){
     .headerTS{
       background: linear-gradient(to right, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.01)), 
       		url('https://cdn.shopify.com/s/files/1/2628/2624/files/Rectangle_380.png?v=1648147770'); 
       background-size: cover;      
   	 }
   }
  </style>
</head>
<body>
  <div class="row text-center headerTS" style="">
      <div class="col-md-4" style="padding: 20px">
        <img src="https://cdn.shopify.com/s/files/1/2628/2624/files/mats_logo_1.png?v=1647951548" alt="tradeshow">
      </div>
      <div class="col-md-4" style="margin: auto;">
        <h3 style="color: white; padding-top: 20px;">Mid-America Trucking Show</h3>
        <p style="color: white;">March 24th - 26th, 2022<br>
          Kentucky Expo Center - 937 Phillips Lane Louisville, KY 40209
        </p>
      </div>
      <div class="col-md-4" style="margin: auto;">
        <h3 style="color: white;">Booth #: 17144</h3>
      </div>
    </div>
  <div class="fluid-container containerTS">
    
        <div class="row">
           <div class="col-md-6 text-center" id="fccolTS">
            <h1 class="titleTS">Take the Mystery out<br>of Modern Trucking</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/MTv24yEiTzY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="ytifTS"></iframe>
            <h4 class="subtitleTS"> Now you can perform functions once reserved for dealers</h4>
            <div class="container">
              <div class="row g-5 rowTS">
                <div class="col-lg-6 colTS">
                  <div class="iconStylingPosition">
                     <img src="https://cdn.shopify.com/s/files/1/2628/2624/files/Group_240.svg?v=1634310420" class="iconStylingTS" alt="60dayguarantee">
                  </div>
                  <div class="cardTS cardLTS">
                    <h5 class="mb-2 mt-2 cardTitleTS">Read, Reset, and Clear Fault Codes</h5>
                    <p class="cardSubtitleTS">View/reset active and inactive fault
                      codes. Detailed descriptions provide
                      troubleshooting, history, possible
                      fixes (+ more).</p>
                  </div>
                </div>
                <div class="col-lg-6 colTS">
                  <div class="iconStylingPosition">
                     <img src="https://cdn.shopify.com/s/files/1/2628/2624/files/Group_241.svg?v=1634310420" class="iconStylingTS" alt="emissionderate">
                  </div>
                  <div class="cardTS cardRTS">
                    <h5 class="mb-2 mt-2 cardTitleTS">Clear Emission Derates</h5>
                    <p class="cardSubtitleTS">When you’ve replaced aftertreatment
                      components to comply with a derate, you 
                      can reset the aftertreatment values 
                      and be on your way.</p>
                  </div>
                </div>
              </div>
              <div class="row g-5 rowTS">
                <div class="col-lg-6 colTS">
                  <div class="iconStylingPosition">
                     <img src="https://cdn.shopify.com/s/files/1/2628/2624/files/Group_239.svg?v=1634310420" class="iconStylingTS" alt="dpf regen">
                  </div>
                  <div class="cardTS cardLTS">
                    <h5 class="mb-2 mt-2 cardTitleTS">Start Forced DPF Regen</h5>
                    <p class="cardSubtitleTS">Perform a forced regen when you’re 
                      unable to initiate a passive or active regen 
                      due to a high soot load or other variables. </p>
                  </div>
                </div>
                <div class="col-lg-6 colTS">
                  <div class="iconStylingPosition">
                     <img src="https://cdn.shopify.com/s/files/1/2628/2624/files/Group_238.svg?v=1634310420" class="iconStylingTS" alt="live data">
                  </div>
                  <div class="cardTS cardRTS">
                    <h5 class="mb-2 mt-2 cardTitleTS">Live Data</h5>
                    <p class="cardSubtitleTS">Viewing live data keeps you informed 
                      about your vehicle at any moment. Data 
                      includes: DEF Fluid Level, DPF Soot Level, 
                      EGR Value Position,Aftertreatment Exhaust 
                      Temps, and many more.</p>
                  </div>
                </div>
              </div>
            </div>
             <div class="row g-5" style="text-align: center; padding: 20px; border-radius: 20px; margin: 0;">
              <div class="col-12" style="">
                <div class="" style="text-align: center; margin-bottom: -90px;">
                  <img src="https://cdn.shopify.com/s/files/1/2628/2624/files/Group_242.png" alt="60dayguarantee">
                </div>
                <div class="guaranteeClasses">
                  <h5 class="mb-2 mt-2">60-Day Guarantee</h5>
                  <p style="font-size: 12px;">We get it, you don’t know us very well yet. That’s why our products comes with a 60-day, no-hassle, money-back guarantee. If they don't fit your needs for any reason, just let us know within 60 days, and we’ll refund 100% of your purchase price. We’ve got your back.</p>
                </div>
              </div>
              <div class="col-12" style="">
                <div class="" style="text-align: center; margin-bottom: -90px;">
                  <img src="https://cdn.shopify.com/s/files/1/2628/2624/files/Group_243.png" alt="usasupport">
                </div>
                <div class="guaranteeClasses" >
                  <h5 class="mb-2 mt-2">USA Support</h5>
                  <p style="font-size: 12px;">Located in Detroit MI, (EST). A truly committed team of trained experts that are there to assist with any customer service, technical support or general questions you may have. No bots. Real help from real people, when you need us! Contact us via phone, chat, or email anytime.</p>
                </div>
              </div>
              <div class="col-12 text-center">
                <img src="https://cdn.shopify.com/s/files/1/2628/2624/files/logo_1_1.png?v=1634217877">
               </div>
        	</div>
          </div>
          <div class="col-md-6">
            <iframe src="https://forms.monday.com/forms/embed/17f4a589bf357d399faf3828ca44f633?r=use1" width="100%" height="100%" style="border: 0; box-shadow: 5px 5px 56px 0px rgba(0,0,0,0.25); min-height: 850px;"></iframe>
          </div>
        </div>

        


      </div>
</body>
</html>